[Desktop Entry]
Version=1.0
Name=TrueOS Network Tray
Exec=pc-nettray
Terminal=false
Type=Application
Icon=network-wireless
Categories=
GenericName=
X-GNOME-Autostart-Phase=Applications
X-MATE-Autostart-Phase=Applications
